.home-container{
    background-image: url('../../assets/pexels-caio-1279109.jpg');
    background-image: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    background-position: 100%;

}
.home-container h3{
    color: lightgray
    
}