#cartSummaryDetails{
    width: 70%;
}

@media screen and (max-width:992px) {
    .category-item{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
    #cartSummaryDetails{
        width: 100%;
        
    }

}