#main-navigation{
    background: #264653;
}
.navbar-container{
    text-decoration: none;
    font-size:20px;
    color: black;
    font-weight: 600;
    padding-left: 20px;
}
.user-image{
    cursor: pointer;
}
.header-container a{
 text-decoration: none;
 margin-right: 10px;
 font-size: 17px;
 color: white;
 font-weight: 400;
 padding-right: 10px;
}
.header-container a:hover{
    color: orangered;
}

.react-switch{
    display: flex;
    justify-content: center;
    align-items: center;
}
#light{
    background-color: #f3ebf6;
}
#dark{
    background-color:#46045e;
}
#light .switch label{
    color: white;
}
#dark .switch label{
    color: black;
}
/* footer container */
.footer-container{
  margin: 0;
  padding-top: 100px;
  height: 200px;
  background-color: black;
  color: #f3ebf6;
}